body, html, h1, ul, li, #wrapper, #basic_lecture_box{
	margin: 0px;
	padding: 0px;
}

h1{
	display: inline;
	float: bottom;
	font-size: 6em;
	color: white;
}

.websitebox {
	width: 15em;
	height: 10em;
	border: 1px solid black;
	margin: 2em auto;	
}

#wrapper {
	display: grid;
	grid-template-rows: 20em auto 5em;
}

#titlebox {
	background-color: #d0d0d0;
	display: grid;
	grid-template-rows: auto 6em 2em;
}

#basic_lecture_box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#basic_lecture_box > div {
	margin-top: 0.5em;
	text-align: center;
	color: white;
	
}

#content {
	
}

#bottom {
	background-color: #d0d0d0;
}


