body, html, h1{
	margin: 0px;
	padding: 0px;
}

body {
	display: grid;
	grid-template-rows: 20em, 1fr, 5em;
}

h1{
	display: inline;
	float: bottom;
	font-size: 6em;
	color: white;
}

#titlebox {
	background-color: #d0d0d0;
}

#content {
	background-color: brown;
}

#bottom {
	background-color: #d0d0d0;
}


