body, html, div, h1, input, button, p {
	margin: 0px;
	padding: 0px;
}

body {
	background-size: cover;
	background-image: url(pagesource/background.png);
}

body > div {
	margin: auto;
	margin-top: 15em;
	width: 30em;
	height: 20em;
	border: 1px solid white;
}

h1 {
	text-align: center;
	color: white;
	font-size: 5em;
}

input {
	margin-top: 0.5em;
	height: 3em;
	width: 32em;
	display: inline;
	background-color: black;
	border: 3px solid white;
	color: white;
}

button {
	height: 3.5em;
	width: 3.5em;
	border: 3px solid white;
	background-color: black;
	color: white;
}

p {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1.3em;
	color: white;
}

